In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("wine_quality_classification.csv")

In [19]:
data.head(10)

   fixed_acidity  residual_sugar  alcohol  density quality_label
0            9.3             6.4     13.6   1.0005          high
1           11.2             2.0     14.0   0.9912        medium
2           11.6             0.9      8.2   0.9935           low
3           12.9             6.6     12.7   1.0002           low
4           13.9            13.8     10.4   0.9942        medium
5           12.5             0.7     10.5   0.9933           low
6            4.3             9.0     13.1   0.9909          high
7           15.0             1.7     12.9   0.9917          high
8           12.3             6.6     13.2   0.9936        medium
9           12.2            14.4      9.9   1.0021        medium

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fixed_acidity   1000 non-null   float64
 1   residual_sugar  1000 non-null   float64
 2   alcohol         1000 non-null   float64
 3   density         1000 non-null   float64
 4   quality_label   1000 non-null   object
dtypes: float64(4), object(1)
memory usage: 39.2+ KB

In [21]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed_acidity,1000.0,10.174300,3.452693,4.00,7.1000,10.4000,13.1250,16.000
residual_sugar,1000.0,7.692000,4.208920,0.50,4.1000,7.5500,11.5000,15.000
alcohol,1000.0,11.039900,1.760283,8.00,9.5000,11.0000,12.6000,14.000
density,1000.0,0.997505,0.004300,0.99,0.9939,0.9974,1.0012,1.005

In [22]:
data.shape

(1000, 5)

In [23]:
data['quality_label'] = data['quality_label'].replace({'high': 2, 'low': 0, 'medium': 1})

C:\Users\hp\AppData\Local\Temp\ipykernel_6564\343034334.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['quality_label'] = data['quality_label'].replace({'high': 2, 'low': 0, 'medium': 1})

In [24]:
data.head(20)

    fixed_acidity  residual_sugar  alcohol  density  quality_label
0             9.3             6.4     13.6   1.0005              2
1            11.2             2.0     14.0   0.9912              1
2            11.6             0.9      8.2   0.9935              0
3            12.9             6.6     12.7   1.0002              0
4            13.9            13.8     10.4   0.9942              1
5            12.5             0.7     10.5   0.9933              0
6             4.3             9.0     13.1   0.9909              2
7            15.0             1.7     12.9   0.9917              2
8            12.3             6.6     13.2   0.9936              1
9            12.2            14.4      9.9   1.0021              1
10           15.5            13.0     10.5   0.9952              2
11            8.8             4.3      8.2   0.9967              1
12            8.3             9.1     11.5   0.9900              2
13            4.8            11.8     10.5   1.0048              1
14            5.7             2.0     10.9   0.9955              1
15            9.7             1.1     13.1   0.9932              1
16           13.8             7.1      8.5   1.0017              0
17            7.8             4.3      8.4   1.0007              1
18            7.0             4.0      8.7   0.9911              1
19           15.6             4.2     12.3   1.0019              2